<!DOCTYPE html>
<html>
<head>
  <title>Search for Student in a Campus</title>
</head>
<body>
  <form action="/remove" method="GET">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Delete</button>
  </form>
</body>
</html>