<!DOCTYPE html>
<html>
<head>
  <title>Search for Student in a Campus</title>
</head>
<body>
  <form action="/campus" method="GET">
    <input type="text" name="campus" placeholder="Campus">
    <button type="submit">Save</button>
  </form>
</body>
</html>